@model HomeDetailsViewModel

@if (Model.AppUser.InactiveUsers == false)
{
    <div class="col-md-12" id="viewprofile">
        <div class="container">
            <div class="container">
                <div class="addprofilepic col-md-12">
                    <img src="~/images/chrome.png" />
                    <div class="row  col-md-12 textfield">
                        @*for profile pic section*@
                        <div class="col-md-2">
                            <img src="~/images/apple-touch-icon-180x180.png" />
                        </div>
                        @*for user name section*@
                        <div class="col-md-3 mt-5 ">
                            <table>
                                <tr>
                                    <td>@Model.AppUser.Firstname @Model.AppUser.LastName</td>
                                    @*<td>@User.IsInRole("Admin") @info.getUser(id).LastName</td>*@
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>sth</td>
                                </tr>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="seperator ">
                        <div class="userinfo ">
                            <div class="userinfoHeader text-center">
                                <h4>Candidate Overview</h4>
                            </div>
                            <div class="UserFrom">
                                <div class="row register-row">
                                    <div class="form-group col-md-12 row">
                                        <label class="col-sm-3 col-form-label">Full Name:</label>
                                        <div class="col-sm-9">
                                            <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.Firstname @Model.AppUser.LastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="register-row">
                                    <div class="form-group col-md-12 row">
                                        <label class="col-sm-3 col-form-label">Description:</label>
                                        <div class="col-sm-9">
                                            <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.Descripition">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="seperator ">
                        <div class="userinfo ">
                            <div class="userinfoHeader text-center">
                                <h4>Candidate Details</h4>
                            </div>
                            <div class="UserFrom">
                                <div class="row register-row">
                                    <div class="form-group col-md-12 row">
                                        <label class="col-sm-3 col-form-label">Gender:</label>
                                        <div class="col-sm-9">
                                            <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.Sex">
                                        </div>
                                    </div>
                                </div>
                                <div class=" row register-row">
                                    <div class="form-group col-md-12 row">
                                        <label class="col-sm-3 col-form-label">Qualification:</label>
                                        <div class="col-sm-9">
                                            <input type="text" readonly class="form-control-plaintext" value="#">
                                        </div>
                                    </div>
                                </div>
                                <div class=" row register-row">
                                    <div class="form-group col-md-12 row">
                                        <label class="col-sm-3 col-form-label">Experience:</label>
                                        <div class="col-sm-9">
                                            <input type="text" readonly class="form-control-plaintext" value="#">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="seperator ">
                        <div class="userinfo ">
                            <div class="userinfoHeader text-center">
                                <h4>Extra Skill and Knowledge</h4>
                            </div>
                            <div class="UserFrom">
                                <div class=" row register-row">
                                    <div class="form-group col-md-12 row">
                                        <label class="col-sm-3 col-form-label">Skill:</label>
                                        <div class="col-sm-9">
                                            <input type="text" readonly class="form-control-plaintext" value="#">
                                        </div>
                                    </div>
                                </div>
                                <div class=" row register-row">
                                    <div class="form-group col-md-12 row">
                                        <label class="col-sm-3 col-form-label">Skill Description:</label>
                                        <div class="col-sm-9">
                                            <input type="text" readonly class="form-control-plaintext" value="#">
                                        </div>
                                    </div>
                                </div>
                                <div class=" row register-row">
                                    <div class="form-group col-md-12 row">
                                        <label class="col-sm-3 col-form-label">Experience:</label>
                                        <div class="col-sm-9">
                                            <input type="text" readonly class="form-control-plaintext" value="#">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="seperator ">
                        <div class="userinfo ">
                            <div class="userinfoHeader text-center">
                                <h4>Candidate Address</h4>
                            </div>
                            <div class=" row register-row">
                                <div class="form-group col-md-12 row">
                                    <label class="col-sm-3 col-form-label">Email:</label>
                                    <div class="col-sm-9">
                                        <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.Email">
                                    </div>
                                </div>
                            </div>
                            <div class=" row register-row">
                                <div class="form-group col-md-12 row">
                                    <label class="col-sm-6 col-form-label">Contact Number:</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.PhoneNumber">
                                    </div>
                                </div>
                            </div>
                            <div class=" row register-row">
                                <div class="form-group col-md-12">
                                    <label class="col-sm-6 col-form-label">Permanent Address:</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.PermanentAddress">
                                    </div>
                                </div>
                            </div>
                            <div class=" row register-row">
                                <div class="form-group col-md-12">
                                    <label class="col-sm-6 col-form-label">Temporary Address:</label>
                                    <div class="col-sm-6">
                                        <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.TemporaryAddress">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>

            <div class="col-md-12">
                <div class="seperator ">
                    <div class="userinfo ">
                        <div class="userinfoHeader text-center">
                            <h4>Education</h4>
                        </div>
                        <div class="UserFrom">
                            <div class="row register-row">
                                <div class="form-group col-md-6">
                                    <label>First Name </label>
                                    <label></label>

                                </div>
                                <div class="form-group col-md-6">
                                    <label>Last Name</label>
                                    <label></label>
                                </div>
                            </div>
                            <div class="row register-row">
                                <div class="form-group col-md-6">
                                    <label>Gender</label>
                                    <label></label>
                                </div>
                            </div>
                            <div class="register-row">
                                <div class=" form-group  col-md-12">
                                    <label class="col-form-label">Description</label>
                                    <label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}
