@inject IQualification info
@inject IEducation edu
@inject ISkill skil
@inject UserManager<ApplicationUser> UserManager
@model HomeDetailsViewModel


@if (Model.AppUser.InactiveUsers == false)
{
    <div class="col-md-12" id="viewprofile">
        <div class="container">
            <div class="container">
                <div class="addprofilepic col-md-12 box-shadow">
                    <img src="~/images/chrome.png" />
                    <div class="row  col-md-12 textfield">
                        @*for profile pic section*@
                        <div class="col-md-2">
                            <img src="~/images/apple-touch-icon-180x180.png" />
                        </div>
                        @*for user name section*@
                        <div class="col-md-3 mt-5 ">
                            <table>
                                <tr>
                                    <td>@Model.AppUser.Firstname @Model.AppUser.LastName</td>
                                    @*<td>@User.IsInRole("Admin") @info.getUser(id).LastName</td>*@
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="seperator">
                        <div class="userinfo box-shadow">
                            <table class="col-12">
                                <tr class="border-bottom text-center">
                                    <td colspan="2">
                                        <h4>Candidate Overview</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="col-form-label ml-2">Full Name:</label>
                                    </td>
                                    <td>
                                        <input type="text" readonly class="form-control-plaintext " value="@Model.AppUser.Firstname @Model.AppUser.LastName">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="col-form-label ml-2">Gender:</label>
                                    </td>
                                    <td>
                                        <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.Sex">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="col-form-label ml-2">Description:</label>
                                    </td>
                                    <td>
                                        <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.Descripition">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="seperator box-shadow">
                        <div class="userinfo ">
                            <div class="userinfoHeader text-center">
                                <h4>Candidate Experience</h4>
                            </div>
                            <div class="UserFrom">
                                <div class="tablesection text-center">
                                    <table id="mytable" class="col-md-12 " border="1">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(Model => Model.AppExp.Sector)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(Model => Model.AppExp.Startdate)-@Html.DisplayNameFor(Model => Model.AppExp.Enddate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(Model => Model.AppExp.Position)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(Model => Model.AppExp.Description)
                                            </th>
                                        </tr>
                                        @foreach (var item in info.getrecords())
                                        {
                                            if (item.Userid == Model.AppUser.Id)
                                            {

                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Sector)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Startdate)-@Html.DisplayFor(modelItem => item.Enddate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Position)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="seperator box-shadow">
                        <div class="userinfo ">
                            <div class="userinfoHeader text-center">
                                <h4>Extra Skill</h4>
                            </div>
                            <div class="UserFrom">
                                <div class="tablesection text-center">
                                    <table id="mytable" class="col-md-12 " border="1">
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(Model => Model.AppSkill.Skill)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(Model => Model.AppSkill.Description)
                                            </th>
                                        </tr>
                                        @foreach (var item in skil.getrecords())
                                        {
                                            if (item.Userid == Model.AppUser.Id)
                                            {

                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Skill)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </td>
                                                </tr>

                                            }

                                        }
                                    </table>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="seperator box-shadow">
                        <div class="userinfo ">
                            <table class="col-12">
                                <tr class="border-bottom text-center">
                                    <td colspan="2">
                                        <h4>Candidate Address</h4>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="col-form-label ml-2">Email:</label>
                                    </td>
                                    <td>
                                        <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.Email">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="col-form-label ml-2">Contact Number:</label>
                                    </td>
                                    <td>
                                        <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.PhoneNumber">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="col-form-label ml-2">Permanent Address:</label>
                                    </td>
                                    <td>
                                        <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.PermanentAddress">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label class="col-form-label ml-2">Temporary Address:</label>
                                    </td>
                                    <td>
                                        <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.TemporaryAddress">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>

            <div class="col-md-12">
                <div class="seperator box-shadow">
                    <div class="userinfo ">
                        <div class="userinfoHeader text-center">
                            <h4>Education</h4>
                        </div>
                        <div class="UserFrom">
                            <div class="tablesection">

                                @foreach (var item in edu.getrecords())
                                {

                                    if (item.Userid == Model.AppUser.Id)
                                    {
                                        <i class="fa fa-check fa-2x"></i>
                                        <table id="mytable" class="col-md-12" border="1">
                                            <tr>
                                                <td colspan="3">
                                                    @Html.DisplayFor(modelItem => item.Startdate)
                                                </td>
                                            </tr>
                                            <tr class="text-center">

                                                <td colspan="2" class="col-md-6">
                                                    @Html.DisplayFor(modelItem => item.Qualification)
                                                </td>
                                                <td class="col-md-6">
                                                </td>

                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    @Html.DisplayFor(modelItem => item.Enddate)
                                                </td>
                                            </tr>
                                        </table>

                                    }

                                }

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
}
