@inject IQualification info
@inject IEducation edu
@inject ISkill skil
@inject UserManager<ApplicationUser> UserManager
@model ProfileDetialViewModel
@{
    ViewBag.Title = "Basic Infromation";
}





<section class="UsernameContainer" id="welcome">
    <div class="container">
        <h1>Welcome @Model.AppUser.Firstname @Model.AppUser.LastName</h1>
    </div>
</section>


<div><hr /></div>

<section id="myprofile">
    <div class="row">
        <div class="seperator col-md-3 programs">
            <div class="">
                <table class="table table-bordered" cellspacing="0" cellpadding="0">
                    <tr class="act" id="profile" onclick="show1()">
                        <td>
                        </td>
                    </tr>
                    <tr class="act" id="ViewProfile" onclick="show2(),color2()">
                        <td>
                            <p>View Profile</p>
                        </td>
                    </tr>
                    <tr class="act" id="Delete" onclick="show3(),color3()">
                        <td>
                            <p>Delete Account</p>
                        </td>
                    </tr>
                    <tr class="act" id="logout" onclick="show4(),color4()">
                        <td>
                            <p>Log Out</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



        <div class="col-md-9" id="viewprofile">
            <div class="container">
                <div class="container">
                    <div class="addprofilepic col-md-12 box-shadow">
                        <img src="~/images/chrome.png" />
                        <div class="row  col-md-12 textfield">
                            @*for profile pic section*@
                            <div class="col-md-2">
                                <img src="~/images/apple-touch-icon-180x180.png" />
                            </div>
                            @*for user name section*@
                            <div class="col-md-3 mt-5 ">
                                <table>
                                    <tr>
                                        <td>@Model.AppUser.Firstname @Model.AppUser.LastName</td>
                                        @*<td>@User.IsInRole("Admin") @info.getUser(id).LastName</td>*@
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                            @*for Edit update username button*@
                        <div class="col-md-1 ml-auto mr-5">
                            <a class="btn btn-info butt" asp-controller="Profile" asp-action="Edit">Edit</a>
                            <div class="mt-1"></div>
                            <a class="btn btn-info butt" asp-controller="Resume" asp-action="ExpCreate">Resume</a>
                            <div class="mt-1"></div>
                            <a class="btn btn-info butt" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="seperator box-shadow ">
                            <div class="userinfo ">
                                <table class="col-12">
                                    <tr class="border-bottom text-center">
                                        <td colspan="2">
                                            <h4>Candidate Overview</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-form-label ml-2">Full Name:</label>
                                        </td>
                                        <td>
                                            <input type="text" readonly class="form-control-plaintext " value="@Model.AppUser.Firstname @Model.AppUser.LastName">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-form-label ml-2">Gender:</label>
                                        </td>
                                        <td>
                                            <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.Sex">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-form-label ml-2">Description:</label>
                                        </td>
                                        <td>
                                            <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.Descripition">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    @*Contact sectionnn*@
                    <div class="col-md-6">
                        <div class="seperator box-shadow">
                            <div class="userinfo ">
                                <table class="col-12">
                                    <tr class="border-bottom text-center">
                                        <td colspan="2">
                                            <h4>Candidate Address</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-form-label ml-2">Email:</label>
                                        </td>
                                        <td>
                                            <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.Email">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-form-label ml-2">Contact Number:</label>
                                        </td>
                                        <td>
                                            <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.PhoneNumber">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-form-label ml-2">Permanent Address:</label>
                                        </td>
                                        <td>
                                            <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.PermanentAddress">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label class="col-form-label ml-2">Temporary Address:</label>
                                        </td>
                                        <td>
                                            <input type="text" readonly class="form-control-plaintext" value="@Model.AppUser.TemporaryAddress">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="seperator box-shadow ">
                            <div class="userinfo ">
                                <div class="userinfoHeader text-center">
                                    <h4>Candidate Experience</h4>
                                </div>
                                <div class="UserFrom">
                                    <div class="tablesection text-center">
                                        <table id="mytable" class="col-md-12 " border="1">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(Model => Model.AppExp.Sector)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(Model => Model.AppExp.Startdate)-@Html.DisplayNameFor(Model => Model.AppExp.Enddate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(Model => Model.AppExp.Position)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(Model => Model.AppExp.Description)
                                                </th>
                                            </tr>
                                            @foreach (var item in info.getrecords())
                                            {
                                                if (item.Userid == UserManager.GetUserId(User))
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Sector)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Startdate)-@Html.DisplayFor(modelItem => item.Enddate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Position)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.Description)
                                                        </td>
                                                    </tr>

                                                }
                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*skill sectionnn*@
                    <div class="col-md-6">
                        <div class="seperator box-shadow ">
                            <div class="userinfo ">
                                <div class="userinfoHeader text-center">
                                    <h4>Extra Skill</h4>
                                </div>
                                <div class="UserFrom">
                                    <div class="tablesection text-center">
                                        <table id="mytable" class="col-md-12 " border="1">
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(Model => Model.AppSkill.Skill)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(Model => Model.AppSkill.Description)
                                                </th>
                                            </tr>
                                            @foreach (var item in skil.getrecords())
                                            {
                                                if (item.Userid == UserManager.GetUserId(User))
                                                {
                                                    using (Html.BeginForm("Delete", "Skill", new { id = item.Id }))
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Skill)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.Description)
                                                            </td>
                                                        </tr>
                                                    }
                                                }

                                            }
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gap"></div>

                <div class="col-md-12">
                    <div class="seperator box-shadow ">
                        <div class="userinfo ">
                            <div class="userinfoHeader text-center">
                                <h4>Education</h4>
                            </div>
                            <div class="UserFrom">
                                <div class="tablesection">

                                    @foreach (var item in edu.getrecords())
                                    {

                                        if (item.Userid == Model.AppUser.Id)
                                        {
                                            <i class="fa fa-check fa-2x"></i>
                                            <table id="mytable" class="col-md-12" border="1">
                                                <tr>
                                                    <td colspan="3">
                                                        @Html.DisplayFor(modelItem => item.Startdate)
                                                    </td>
                                                </tr>
                                                <tr class="text-center">

                                                    <td colspan="2" class="col-md-6">
                                                        @Html.DisplayFor(modelItem => item.Qualification)
                                                    </td>
                                                    <td class="col-md-6">
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td colspan="3">
                                                        @Html.DisplayFor(modelItem => item.Enddate)
                                                    </td>
                                                </tr>
                                            </table>

                                        }

                                    }

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>




       




        @*this is for the delete section*@

        <div class="col-md-9" id="delete1">
            <div class="seperator ">
                <div class="userinfo ">
                    <div class="userinfoHeader text-center">
                        <h4>Delete Account</h4>
                    </div>
                    <div class="UserFrom">
                        <div class="text" style="padding:15px;">
                            <h5 class="text">Do You Want to Delete Your Account?</h5>
                            <h6 class="text-danger">Our Application wont permanently delete this account,if u wish to do so please <a href="#">Contact Us</a> </h6>
                        </div>

                        <form class="form-inline col-md-3" asp-controller="Profile" asp-action="DeletePartial" style="padding:10px;">
                            <button type="submit" class="btn  btn-danger text-dark">Delete Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        @*this is for the logout section*@
        <div class="col-md-9" id="logoutt1">
            <div class="seperator ">
                <div class="userinfo ">
                    <div class="userinfoHeader text-center">
                        <h4>Log Out</h4>
                    </div>
                    <div class="UserFrom">
                        <div class="text" style="padding:15px;">
                            <h6 class="text">Do You Want to Log Out of Your Account?</h6>
                        </div>
                        <form id="logout" class="form-inline col-md-3" asp-controller="Account" asp-action="Logout" style="padding:10px;">
                            <button type="submit" class="btn  btn-danger text-dark">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


@section Scripts{

    <script>
            $(document).ready(function(){
            });

            function onclickpass() {
                var data = $("#Changeform").serialize();
                $.ajax({
                    url:"@Url.Action("Changepass", "Profile")",
                    data: JSON.stringify(data),
                    type:"post",
                    async: true,
                    dataType: "json",
                    success: function (response) {
                        debugger;
                        if (response.result) {
                            alert("Password has changed! Please sign in wioth your account");
                        }
                        else {
                            window.location.href = "http://localhost:50763/Profile/ProfileSection/";
                        }
                    },
                    error: function (error) {
                        alert.success(error.result)
                        window.location.href = "http://localhost:50763/Account/Login";
                    }
                });
            }
    </script>


}